.places {
  margin: 0 auto;
  margin-bottom: 92px;
  width: 83.1%;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .places { 
    margin-bottom: 88px;
    width: 93.75%;
  }
}

@media screen and (max-width: 725px) {
  .places {
    margin-bottom: 64px;
    width: 100%;  
  }
}
