.place__paragraphs {
  margin: 0;
  width: 49%;
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    width: 48%;

  }
}

@media screen and (max-width: 725px) {
  .place__paragraphs {
    width: 90%;
    margin-left: auto;
    margin-right: auto;   
  }
}
