.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.142;
    font-weight: normal;
    margin: 0;
    align-self: flex-end;
  }

  @media screen and (min-width: 1280px) {
    .footer__copyright {
      text-align: right;
    }
  }
  
  @media screen and (max-width: 1279px) {
    .footer__copyright {
      text-align: right;
    }
  }

  @media screen and (max-width: 725px) {
    .footer__copyright {
      text-align: left;
      line-height: 1;
      align-self: auto; 
    }
  }
