.lead__image {
  object-fit: cover;
  margin-bottom: 8px;
  height: 61.2%;
  width: 100%; 
}
 
@media screen and (max-width: 1024px) {
  .lead__image {
    height: 60.3%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {  
    height: 55.7%;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    height: 49.3%;   
  }
}