.place__link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}

.place__link:hover {
  opacity: 0.8;
  -webkit-transition: opacity 1.5s ease;
  -moz-transition: opacity 1.5s ease;
  -ms-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}
