.cover__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    word-wrap: break-word;
    z-index: 1;
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 1.05;
  }
  
  @media screen and (max-width: 725px) {
    .cover__title {
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 1.09;    
    }
  }