@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__list-item/footer__list-item.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 92.5%; 
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.6%;
    
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%; 
  }
}

@media screen and (max-width: 725px) {
  .footer {
    width: 90%;
    flex-direction: column;   
  }
}